@use '../base/variables' as *;

.card {
  border: none;
  border-radius: $border-radius;
  box-shadow: $card-shadow;
  margin-bottom: 1.5rem;

  .card-header {
    background-color: transparent;
    border-bottom: 1px solid $border-color;
    font-weight: 600;
    color: $secondary-color;
    border-radius: $border-radius $border-radius 0 0;
  }
}